html{
	width: 100%;
	//position: fixed;
	background-color: #3b55a5;
	margin: 0px;
	padding: 0px;
	min-width: 700px;
	min-height: 400px;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: 'Nunito', sans-serif;
	color: #B0B0B0;
}

table{
	border: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

h1{
	font-size: 2.750em;
	letter-spacing: -1.5px;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 1px;
}

h3{
	color: #dddddd;
}

a{
  	color: #4FB69F;
	text-align: center;
	align: center;
	
}

iframe{
	frameborder: 0px;
}

audio{
	width: 600px;
	
}

.main{
	position: relative;
	z-index: 3;
	top: 45px;
	align: center;
	margin: auto;
	padding: auto;
	text-align: center;
}

.center{
	margin: auto;
}

.title_bar{
	position: absolute;
	background-color: #162e73;
	height: 120px;
	top: 0px;
	left: -2px;
	width: 100%;
}

#top_line{
	position: absolute;
	background-color: rgb(253,205,23);
	top: -3px;
	left: -2px;
	height: 4px;
	width: 100%;
	z-index: 3;
}
	

#logo{
	position: absolute;
	height: 175px;
	top: -4px;
	left: 3px;
	z-index: 2;
}

#watermark{
	position: fixed;
	height: 30%;
	max-height: 519px;
	min-height: 200px;
	right: 80px;
	bottom: 50px;
	z-index: -1;
}	

#link{
	padding-top: 10px;
	padding-bottom: 25px;
}

#copyright{
	padding-top: 25px;
	padding-bottom: 30px;
}

#title{

}

#shadow{
	position: relative;
	z-index: 1;
	top: 22px;
	height: 100px;
	width: 100%;
	opacity: 0.5;
}

#logo2{
	width: 500px;
	margin-top: 25px;
}

#info{
	color: white;
	margin-bottom: 20px;
}